<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="PkcMobDb01-Reporting" connectionString=""/>
    <add name="Postgres" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=postgres;Database=Jinx"/>
  </connectionStrings>
    <appSettings>
      <add key="RedisServer" value="localhost"/>
      <!-- Logging-->
      <add key="LogPath" value="C:\Mobile\logs\Jinx\scheduler-{Date}.log" />
    </appSettings>
</configuration>