<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="PkcMobDb01-Email" connectionString=""/>
  </connectionStrings>
    <appSettings>
      <add key="RedisServer" value=""/>
      <!-- Logging-->
      <add key="LogPath" value="C:\Mobile\logs\Jinx\scheduler-{Date}.log" />
    </appSettings>
</configuration>