<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chronos" version="0.0.92" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.35" targetFramework="net45" />
  <package id="Sigil" version="4.3.1" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.371" targetFramework="net45" />
</packages>